.title {background-color: rgb(98, 81, 252); font-size: 50pt; color:white; text-align: center;}
.img1 {width : 100%; height : auto;}
.a {background-color: rgb(98, 81, 252); color : white;}
.b {font-size: 20pt; text-align: center; border-top: 10px solid rgb(98, 81, 252); padding-top : 10px;}